<form method="post" action="{{ path('user_tickets_mechanics_delete', {'id': user_tickets_mechanic.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_tickets_mechanic.id) }}">
    <button class="btn">Delete</button>
</form>
