{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access denied!</h1>

    <p>
        The requested page is restricted.
    </p>
{% endblock %}