{% extends 'base.html.twig' %}

{% block title %}New InventoryItems{% endblock %}

{% block body %}
    <h1>Create new InventoryItems</h1>

    {{ include('inventory_items/_form.html.twig') }}

    <a href="{{ path('inventory_items_index') }}">back to list</a>
{% endblock %}
